<h1>Edit your task</h1>

<%= form_with url: "/new", method: :get do |f| %>
  <%= f.label :task, "Title:" %>
  <%= f.text_field :task %>
  <%= f.label :task, "Details:" %>
  <%= f.text_area :task %>
  <%= f.check_box :task %>
  <%= f.label :task, "Completed" %>
  <%= f.submit "Update Task" %>
<% end %>

<%= link_to "Back to list", tasks_path %>
